iframe {
  border: 1px solid gray;
}
#block-youtubegallery h2 {
  font-size: 17px;
}
#block-youtubegallery a {
  font-size: 15px;
  text-decoration: none;
}

#block-youtubegallery img {
  border: 1px solid lightgray;
  border-radius: 5px;
}
.youtube-page-header {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgray;
}
.currentvideodesc {
  font-size: 16px;
}
.currentvideotitile {
  font-size: 18px;
}
.seemore {
  display: block;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #f5f5f5;
}
.path-youtube-gallery .block-youtube-gallery-block {
  display: none;
}
#video-iframe-style {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

#youtube-block-style {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

#each-block-video {
  position: relative;
  float: left;
  margin-bottom: 40px;
  margin-right: 100px;
}
